FRONTEND_URL=http://localhost:3000
SECRET_KEY_BASE=Miwayki20261014
RAILS_ENV=production
NODE_ENV=production
INSTALLATION_ENV=docker
ENABLE_ACCOUNT_SIGNUP=false

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USERNAME=miwayki_app
POSTGRES_PASSWORD=Miwayki20261014
POSTGRES_DATABASE=chatwoot_production

REDIS_URL=redis://redis:6379
